<div class="banner_wrap2" style="background:url({{'cs_banner.jpg' | asset_url}});">
  <img src="{{ 'cs_banner_mobile.jpg' | asset_url }}" alt="{{page.title}}" />
    <h1>{{page.title}}</h1>
</div> 

<div class="grid">

  <div class="grid__item sidebar_menu">
    <h4>{{ linklists[settings.cs_menu].title }}</h4>
    <ul class="sidemenu slides">
      {% for link in linklists[settings.cs_menu].links %}
      <li class="{% if link.active %} active flex-active-slide{% endif %}">
        <a href="{{ link.url }}">{{ link.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  
  <div class="grid__item page_content">

    <div class="section-header">
      <h1 class="section-header--title">{{ page.title }}</h1>
    </div>

    <div class="rte">
      {{ page.content }}
    </div>

  </div>

</div>

<div class="grid grid-uniform faq_data_wrap">
  <h2>More About Us</h2>
  <div class="grid__item one-third">
    <div class="about_data">
      <a href="{{settings.about_col5_link}}">
      <img src="{{ 'about_col5.jpg' | asset_url}}" alt="" />
      <h2>{{settings.about_col5_title}}</h2>      
      </a>
    </div>
  </div>
  <div class="grid__item one-third">    
    <div class="about_data">
      <a href="{{settings.about_col2_link}}">
      <img src="{{ 'about_col2.jpg' | asset_url}}" alt="" />
      <h2>{{settings.about_col2_title}}</h2>      
      </a>
    </div>
  </div>
  <div class="grid__item one-third">
    <div class="about_data">
      <a href="{{settings.about_col4_link}}">
      <img src="{{ 'about_col4.jpg' | asset_url}}" alt="" />
      <h2>{{settings.about_col4_title}}</h2>      
      </a>
    </div>
  </div>  
</div>